<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="'layout/LayoutPadrao'">

<head>
</head>

<section layout:fragment="conteudo">

	<div class="container-fluid">
		<form method="POST" th:object="${questao}" th:action="@{/quest}">
			<h1>
				<label th:text="${nomeMateria}"></label>
			</h1>
			<div class="row">
				<div class="form-group  col-sm-2">
					<h4>
						<label style="color: DarkBlue" th:text="${quantidadePerguntas}"></label> / <label style="color: DarkRed" th:text="${quantidadeDificeis}"></label> / <label style="color: DarkGreen" th:text="${quantidadeFaceis}"></label>
					</h4>
				</div>
			</div>
			<div class="row">
				<div class="form-group  col-sm-12">
					<h3 style="text-align: center;"><label th:text="${pergunta}"></label></h3>
				</div>
			</div>
			<div id="resposta" class="row collapse">
				<div class="form-group  col-sm-12">
					<hr style="width: 100%; color: gray; height: 1px; background-color:gray;" />
					<h3 style="text-align: center;"><label th:text="${resposta}"></label></h3>
				</div>
			</div>
			<br />	
			<div class="form-group" style="text-align: center;" th:unless="${#strings.isEmpty(pergunta)}">
				<button type="submit" class="btn btn-danger btn-lg" name="quest" value="dificil">Difícil</button>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#resposta">Mostrar resposta</button>
				<button type="submit" class="btn btn-success btn-lg" name="quest" value="facil">Fácil</button>
			</div>
			<div class="form-group" style="text-align: center;" th:if="${#strings.isEmpty(pergunta)}">
				<h1>Cartões finalizados!</h1>
			</div>
		</form>
	</div>
</section>
</html>