<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<body>
		<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
			<div class="aw-layout-sidebar__content">
	
		    	<nav class="aw-menu  js-menu">
		      		<ul class="aw-menu__list">
		
		        		<li class="aw-menu__item  is-active">
		          			<a href="#">
		            			<i class="fa  fa-fw  fa-file-text is-active"></i><span>Cadastros</span>
		            			<i class="aw-menu__navigation-icon  fa"></i>
		          			</a>
		      
		          			<ul class="aw-menu__list  aw-menu__list--sublist">
					            <li class="aw-menu__item  aw-menu__item--link"><a href="questoes">Cadastro de Questão</a></li>
		          			</ul>
		        		</li>
		      		</ul>
		    	</nav>
			</div>
		</aside>
	</body>
</html>