<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de matéria
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<th:block th:include="fragments/MensagemSucesso"></th:block>
		<form method="POST" th:object="${materia}" th:action="@{/materias}">
			<th:block th:include="fragments/MensagemErroValidacao"></th:block>
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" />
				</div>
			</div>
				
			<div class="form-group">
				<button type="submit" class="btn  btn-primary">Salvar</button>
			</div>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>
</html>