<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="'layout/LayoutPadrao'">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/datepicker/bootstrap-datepicker.css}"/>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de estudante
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<th:block th:include="fragments/MensagemSucesso"></th:block>
		<form method="POST" th:object="${estudante}" th:action="@{/estudantes}">
			<th:block th:include="fragments/MensagemErroValidacao"></th:block>
			<div class="row">
				<div class="form-group  col-sm-12">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}"/>
				</div>
			</div>
				
			<div class="row">
				<div class="form-group  col-sm-6">
					<label for="email">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}"/>
				</div>
				<div class="form-group  col-sm-2">
					<label for="dataNascimento">Data de nascimento</label>
					<input type="text" class="form-control datepicker" id="dataNascimento" placeholder="dd/mm/yyyy" th:field="*{dataNascimento}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-3">
					<label for="senha">Senha</label> 
					<input type="password" class="form-control" id="senha" th:field="*{senha}"/>
				</div>
				
				<div class="form-group  col-sm-3">
					<label for="confirmacaoSenha">Confirmação de senha</label> 
					<input type="password" class="form-control" id="confirmacaoSenha" th:field="*{confirmacaoSenha}"/>
				</div>
			</div>
			
			<div class="form-group">
				<button type="submit" class="btn  btn-primary">Salvar</button>
			</div>
		</form>
	</div>
</section>
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/datepicker/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/javascripts/datepicker/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script>
		$('.datepicker').datepicker({
			language: "pt-BR",
		    format: 'dd/mm/yyyy',
		    orientation: "bottom left"
		});
	</script>
</th:block>
</html>